:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
  }
  
  html, body {
    width: 95vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  img {
  width: 100%;
  height: 350px;
  }
  
  h1 {
    padding-top: 25px;  
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
  }
  
  /* HEADER */
  header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 150px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .netflixLogo img {  
    height: 35px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  
  
  .main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }
  #login{
    color: #E50914;
  }
  /*HOME page Contiant*/

  .homepag {
    display: grid;
    width: 100%;
    height: 100%;
    margin-left: 25px;
    grid-template-areas: "a-GRK6o a-GRK6o a-GRK6o"
    "a-GRK6o a-GRK6o a-GRK6o"
    "a-GRK6o a-GRK6o a-GRK6o"
    "a-28JkE a-mqXZg-1 a-mqXZg-1";
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 260px 80px 1fr 1fr;
    
  }
  .homepag > div {
    border: #888;
  }
  
  .a-GRK6o {
    grid-area: a-GRK6o;
  }
  .a-28JkE {
    grid-area: a-28JkE;
  }
  .a-mqXZg-1 {
    grid-area: a-mqXZg-1;
  }
  .homepag img{
    margin: 90px 15px 0px 0px;
    height: 400px;
  }

  a-mqXZg-1 p{
    margin: -9px 55px 0px 150px;
  }
    
    input,
    button,
    textarea,
    select {
      font: inherit;
    }
    
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }
    
    #root,
    #__next {
      isolation: isolate;
    }
    
    .container {
      font-family: "Poppins", sans-serif;
      background-color:--primary;
      align-items: center;
    
      padding: 1rem 0 2rem 1rem;
    }
    
    .button {
      position: relative;
      font-family: inherit;
      transition: all 0.1s ease-in;
      display: flex;
      gap: 1.65rem;
      cursor: pointer;
      border-radius: 3rem;
      padding: 1.2rem 3rem;
      background-color: #3a393b;
      color: #fff;
      border: none;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 600;
      min-width: 15rem;
      justify-content: center;
    }
    
    .button:hover {
      background-color: #f22e2e;
    }
    
    .button:has(input:checked) {
      background-color: #f22e2e;
    }
    
    .button:active {
      transform: translateY(0.2rem);
    }
    
    .arrow {
      position: relative;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      width: 0;
      height: 0;
      border-top: 0.8rem solid transparent;
      border-bottom: 0.8rem solid transparent;
      border-left: 1rem solid #fff;
    }
    
    .arrow::after {
      transition: transform 0.4s ease-in-out;
      content: "";
      position: absolute;
      background-color: transparent;
      width: 1.5rem;
      height: 2rem;
      top: -1rem;
    }
    
    .arrow::before {
      transition: all 0.3s ease-out;
      content: "";
      position: absolute;
      background-color: transparent;
      width: 1rem;
      height: 1.6rem;
      top: -0.8rem;
    }
    
    .label {
      cursor: pointer;
    }
    
    .visually-hidden {
      cursor: pointer;
      position: absolute;
      opacity: 0;
    }
    
    .button:has(input:checked) > .arrow::before {
      transform: translateX(-1rem);
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 30%,
        rgb(242, 46, 46) 30%,
        rgb(242, 46, 46) 70%,
        rgba(255, 255, 255, 1) 70%
      );
    }
    
    @keyframes back {
      0% {
        transform: translateX(0rem);
      }
      20% {
        transform: translateX(-0.8rem);
      }
      100% {
        transform: translateX(0rem);
      }
    }
    @keyframes slide {
      0% {
        transform: translateX(-1rem);
      }
      to {
        transform: translateX(0rem);
      }
    }
    .move {
      animation-name: slide;
      animation-duration: 0.3s;
    }
    .back {
      animation-name: back;
      animation-duration: 0.4s;
    }
    
  
  
  
  /* MAIN CONTIANER */
  .main-container {
    padding:  0px 25px 50px 25px;
  }
  
  .box {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));;
  }
  
  .box a {
    transition: transform .3s; 
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  .box a:hover {
    transition: transform .2s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    border-radius: 2px;
  }
  ::-webkit-scrollbar{
    width: 20px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #E50914;
    border-radius: 10px;
  }
::-webkit-scrollbar-track{
  background-color: var(--dark);
  border-radius: 10px;
}

.see{
  color: var(--light);
  text-decoration: none;
  margin: 5px; 
  text-align: right;
}

  .see p:hover{
    font-size: 110%;
    color: var(--dark);
    cursor: pointer;
  }
  
  /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color: var(--dark);
  }

  .faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: --primary;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 20px auto;
    cursor: pointer;
}
  
  
  /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  
  /* MEDIA QUERIES */
  
  @media(max-width: 900px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }
  
  @media(max-width: 700px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
     
  }
  
  @media(max-width: 500px) {
  
    .wrapper {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
  
    .netflixLogo {
      max-width: 100%;
      margin: auto;
      padding-right: 20px;
    }
  
    .main-nav {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    h1 {
      text-align: center;
      font-size: 18px;
    }
  
   
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    .box a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
  
    .logos {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }
  }